@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

*{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding: 0;
  margin: 0;
}

.container{

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:rgb(5, 4, 32) ;
}
.Firstheader{
  color: white;
}
.Link{
  padding-top: 20px;
  font-size: 2rem;
  font-weight: 500;
  color: rgb(240, 229, 15);
  cursor: pointer;
  padding-bottom: 20px;
  
  

}
.checkbox{
  width: 25px;
  height: 25px;
  
}

.card{
 

  background-color:white;
  border-radius: 8px;
  overflow: hidden;
  margin:  0 0.5rem;
  margin-top: 10px;
  box-shadow:  0px 35px 80px rgb(red, green, blue);
}

.card-header{
  border-bottom: 1px solid white;
  
  padding:1rem 1.2rem;
  background-color: rgb(12, 101, 217);
}
.title{

  font-size: 2rem;
  font-weight: 500;
  color: rgb(240, 229, 15);
  cursor: pointer;
}
.card-body{
  padding: 5rem 1.2rem;
}
.checkbox-container{
  padding-bottom: 0.8rem;
  padding-left: 6px ;

 
}
label {
  font-size: 2rem;
  color: black;
  margin-right: 10px;

  

  cursor: pointer;
}
.list-container{
  padding: 0.5 1rem 0 1rem;
  display: flex;
  align-items: center;
  flex-wrap:wrap;

}
.chip{
  padding: 0.3 1rem ;
  background-color: brown;
  border-radius: 0.2 rem;
  margin: 0.2rem;
}
.chip-label{
font-size: 0.7rem;
color: chartreuse;
}
input[type="checkbox"]{
  color:blueviolet;
  cursor: pointer;
}



